
        .container{
            padding: 20px;
            padding-top: 100px;
        }
.activity {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.activity h3 {
    background-color: #009688;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 24px;
}

.activity-content {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Memberikan jarak antar gambar */
    gap: 20px;
}

.activity-image {
    width: 30%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    object-fit: cover;
}

.activity-image:hover {
    transform: scale(1.05);
}

.activity-content p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}